.main {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bettingField {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 20px;
        flex-wrap: wrap;

        .active {
            background-color: #005c9e;
            opacity: 1;
        }

        h1 {
            width: 100%;
            margin-bottom: 5px;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }
    }

    .horsesList {
        margin-bottom: 20px;
        width: 100%;
    }

    .resultPanel {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-bottom: 20px;

        h4 {
            font-size: 26px;
            margin-bottom: 10px;
            font-weight: 400;
            font-style: italic;
        }
    }
}



.buttonsConteiner {
    display: flex;
    justify-content: center;
    gap: 20px;
}