.horseWrapper {
    padding: 10px;
}

.horseWrapper_head {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    h3 {
        width: calc(100% - 40px);
        font-weight: 700;
        margin-bottom: 5px;
    }

    img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    span {
        display: block;
        margin-bottom: 10px;
    }
}